@use '@angular/material' as mat;
@use './styles/material-themes' as themes;

@include mat.core();

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* gate de tema por clase en html */
html.theme-light {
  @include mat.all-component-themes(themes.$light-theme);
}

html.theme-dark {
  @include mat.all-component-themes(themes.$dark-theme);
}

/* fondo general coherente con tokens M3 */
html.theme-light body {
  background: #{mat.get-theme-color(themes.$light-theme, neutral, 98)};
  color: var(--mat-sys-on-surface);
}

html.theme-dark body {
  background: #{mat.get-theme-color(themes.$dark-theme, neutral, 6)};
  color: var(--mat-sys-on-surface);
}
